.postCardContainer,
.commentCardContainer,
.commentForm {
  width: 90%;
  margin: 0 auto;
}

.postCard,
.commentCard {
  margin-bottom: 30px;
  border-width: 0;
  border-radius: 0;
  border-bottom: 1px solid #a9aab0;
  padding: 0; /* Add padding if necessary, but keep it consistent with the commentForm */
}

.likeComment {
  position: absolute;
  bottom: 10px;
  right: 15px;
  display: flex;
  align-items: center;
}

.commentForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  margin: 20px auto; /* Adjust this margin if necessary to align with the postCard */
  padding: 0; /* Make sure this padding is consistent with the postCard */
}


.commentTextarea {
  width: calc(100% - 120px); /* Adjust width as needed */
  margin-right: 10px;
  /* Add other styles as needed */
}



.commentForm button {
  white-space: nowrap;
  flex-shrink: 0;
  padding: 10px 20px; /* Add padding to increase clickable area */
  min-width: 100px; /* Minimum width for the button */
}

@media (max-width: 580px) {
  .commentForm {
    flex-direction: column;
  }

  .commentForm textarea,
  .commentForm button {
    width: 100%; /* Full width on small screens */
    margin-right: 0; /* Reset margin-right on small screens */
  }

  .commentForm button {
    margin-top: 10px; /* Space between textarea and button on small screens */
  }
}
